# exclude all
/*

# Include Important Folders
!.vscode/
!Assets/
!Packages/
!ProjectSettings/
!UserSettings/

# Other Files.
!LICENSE
!README.md
!Assembly-CSharp.csproj
!TeaTime.sln

# Include git files
!.gitmodules
!.gitignore